span.__dumi-default-badge {
  &:not([type]),
  &[type='info'] {
    background: @primary-color !important;
  }
}

.__dumi-default-flush-button button {
  border: 1px solid rgb(105, 186, 176) !important;
  color: rgb(105, 186, 176) !important;
  box-shadow: hsla(180, 90%, 81%, 0.4) 2px 2px 22px !important;
}

.__dumi-default-layout-hero a:last-child button {
  background: rgb(105, 186, 176) !important;
  border: 1px solid rgb(105, 186, 176) !important;
  color: rgb(255, 255, 255) !important;
  box-shadow: hsla(180, 90%, 81%, 0.4) 2px 2px 22px !important;
}

.__dumi-default-navbar .navbar_links-item a.active::after {
  background: rgb(105, 186, 176) !important;
}

.__dumi-default-navbar nav > span > a:hover {
  color: rgb(105, 186, 176) !important;
}
.__dumi-default-navbar nav > span > a.active {
  color: white !important;
}

a {
  color: rgb(0, 0, 0) !important;
}

.__dumi-default-layout-footer-meta > span:last-child::before {
  color: rgb(129, 128, 128) !important;
}

ul[role='slug-list'] li > a.active::before {
  background: rgb(105, 186, 176) !important;
}

.__dumi-default-navbar {
  background: white !important;
}

.navbar_links a {
  font-weight: 500;
}

.__dumi-default-navbar .navbar_links-item {
  color: rgb(0, 0, 0) !important;
}

.__dumi-default-navbar nav > span > a.active {
  color: rgb(0, 0, 0) !important;
}

.__dumi-default-navbar[data-is-home='false'] .label {
  color: rgb(0, 0, 0) !important;
}

.__dumi-default-search[data-is-home='false']::before {
  background-color: #30303030 !important;
}

.__dumi-default-search[data-is-home='false'] .__dumi-default-search-input {
  color: black !important;
}

.__dumi-default-layout-hero img {
  margin-bottom: 0 !important;
}

.__dumi-default-layout-hero {
  padding-top: 150px !important;
}

.__dumi-default-layout-home > :last-child {
  margin-top: 0 !important;
}

.__dumi-default-layout-hero a:first-child button {
  background: transparent !important;
  border: none;
}

.__dumi-default-layout-hero a button[type='button'] {
  background: rgb(105, 186, 176);
  border: none;
  color: white;
}

/* 改变复选框的背景颜色 */
input[type='checkbox'] {
  background-color: red !important;
}

/* 改变复选框的边框颜色 */
input[type='checkbox'] {
  border-color: green !important;
}
