name: deploy book
on:
  push:
    branches:
      - main # if any push happens on branch `master`, run this workflow. You could also add `paths` to detect changes in specific folder

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1
      # node16
      - name: Setup Node.js 16
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install and Build
        run: |
          yarn install
          yarn run build

      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: gh-pages
          build_dir: dist
          commit_message: 'chore(deploy): book'
          keep_history: false
          jekyll: false
        env:
          GITHUB_TOKEN: ${{ secrets.DEPLOY_BOOK }}
